@model Product

<div class="col text-white">
    <div class="content">
        <img src="@Model.ImageUrl" class="shadow-lg rounded pic" alt="@Model.Name">

        <div class="img-content p-1 ">



            <a class="btn btn-outline-light h-75 mt-auto"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-productId="@Model.ProductId">+ Add to cart</a>




            <a class="btn btn-outline-light" asp-controller="Product"
               asp-action="Details"
               asp-route-id="@Model.ProductId">
                View Details
            </a>



        </div>

    </div>
</div>



