@model HomeViewModel



    <img src="/images/fitcombanner4.png" class="banner shadow-lg"/>




    <br />

    <br />
<ul class="nav nav-tabs shadow-sm">
    
  <li class="nav-item text-white ">
    <a class="nav-link active" href="#">New Releases</a>
    <li class="nav-item  ">
        <a class="nav-link inactive bg-gradient text-white" href="#">Coming soon</a>
  
</ul>
<div class="bg-opacity-25 bg-dark">
    

    <div class="row product-of-the-week">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var product in Model.ProductOfTheWeek)
            {
                <partial name="_productCardHome" model="product"/>
            }
        </div>

    </div>
    <br /><br />
</div>


